@{
	ViewBag.Title = "Home Page";
}
@{
	ViewData["Title"] = "Home Page";
}


 <!---  aca voy  a hacer la vista del usuario admin --->


<div class="jumbotron transparent">
	<h1 class="display-4">Bienvenido a CLassi Admin!</h1>
	<p class="lead"> Cargue los alumnos y profesores para poder comenzar a operar en su colegio</p>
	<hr class="my-4">
	<p>Este sistema es desarrollado como proyecto integrador para Nuevas Tecnologias!! \n si tienes usuario y contraseña logeate ahora mismo.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Login" role="button">Log in</a>
	</p>
</div>
<div class="container">

	<div class="row">
		<div class="col-md-3 indexcardcenter">
			<div class="card" style="width: 18rem;">
				<img class="imgcard card-img-top" src="~/Content/Images/undraw_reading_list_4boi.svg" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Logeate a classi con tu usuario y contraseña.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card" style="width: 18rem;">
				<img class="imgcard card-img-top" src="~/Content/Images/undraw_studying_s3l7.svg" alt="Card image cap">
				<div class="card-body">
					<p class="card-text"> Mira tus clases disponibles.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card" style="width: 18rem;">
				<img class="imgcard card-img-top" src="~/Content/Images/undraw_to_do_list_a49b.svg" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Toma asistencia de una forma sensilla y dinamica.</p>
				</div>
			</div>
		</div>
	</div>
</div>